.ChatOnline{
    width: 100%;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color: grey;
}
.ChatOnline:hover{
    background: black;
    color: white;
}
.you{
    background: black;
    color: white;
}
.chatOnline_wrapper{
    display: flex;
    align-items: center;
    font-weight: 600;
    position: relative;
}
.online_name {
    padding-left: 10px;
}
.online_badge{
    position: absolute;
    top: 50%;
    right: 5px;
    height: 7px;
    width: 7px;
    transform: translate(0,-50%);
    background-color: limegreen;
    border-radius: 50%;
}